@import "../../../../../styles/variables.scss";

.section-summary {
  .title-container {
    border-bottom: 1px solid $primary_black;
    padding-bottom: 20px;

    p.description {
      font-size: 15px;
      color: $primary_black;
    }
  }

  .achievement-container {
    padding: 16px 0;
    height: calc(100% - 105px);

    .achievement-holder {
      padding-right: 10px;
      max-height: calc(100% - 26px);
      overflow-y: scroll;

      .achievement-wrapper {
        display: flex;
        column-gap: 8px;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 15px;
        }

        img {
          width: 20px;
          height: 20px;
        }

        .achievement-user-wrapper {
          display: flex;
          gap: 5px;
          align-items: center;
          flex-grow: 1;
          padding: 5px;
          border-radius: 10px;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }

          .user-details {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .user-name {
              font-size: 13px;
            }

            .achievement-name {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
