@import "../../../../../styles/variables.scss";

.section-options {
  .title-container {
    position: relative;
    border-bottom: 1px solid $primary_black;
    padding-bottom: 10px;
    margin-bottom: 25px;

    p.description {
      font-size: 17px;
    }

    .user-action-wrapper {
      padding-top: 10px;
      display: flex;
      gap: 10px;
    }

    .search-wrapper {
      flex-grow: 1;

      input[type="search"] {
        flex-grow: 1;
        width: auto;
        height: 40px;
        padding: 0 25px 0 20px;
      }

      .action-wrapper {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translate3d(0, -10px, 0);
      }
    }
  }

  .option-container {
    height: calc(100% - 146px);

    .option-wrapper {
      display: flex;
      flex-wrap: wrap;

      overflow-y: scroll;
      max-height: calc(100% - 100px);

      .option-content {
        position: relative;
        flex-grow: 1;
        display: flex;
        width: 100%;
        padding: 5px;

        .option-input {
          display: none;

          &:checked {
            & + label.option-text {
              .checkmark-holder {
                .checked {
                  opacity: 1;
                }
              }
            }
          }
        }

        label.option-text {
          display: flex;
          gap: 10px;
          flex-grow: 1;
          align-items: center;
          padding: 10px;
          border-radius: 10px;
          font-size: 15px;
          line-height: 18px;

          .checkmark-holder {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            padding: 15px;
            align-self: center;
            border-radius: 50%;
            z-index: 1;
            cursor: pointer;

            .checked {
              width: 20px;
              height: 20px;
              padding: 10px;
              border-radius: 50%;
              opacity: 0;
            }
          }
        }

        .option-checked {
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate3d(18px, -50%, 10px);
          transform-origin: center;
          transition: all 0.3s ease-in;
          z-index: 1;
        }
      }
    }
  }

  .action-wrapper {
    min-height: 100px;
    border-top: 1px solid $color_line;

    .user-wrapper {
      .profile-icon {
        border: 2px solid $color_grey2_logo;
      }
    }

    button.submit-btn {
      font-size: 16px;
      font-weight: 500;
      width: 165px;
      padding: 10px;
      margin-top: 10px;
      align-self: center;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }
  }

  .no-option-wrapper {
    flex-direction: column;
    text-align: center;

    .icon-wrapper {
      font-size: 5rem;
    }
    .title {
      font-size: 20px;
    }
    .action-wrappers {
      display: flex;
      gap: 10px;
    }
  }

  .section-loader-wrapper {
    font-size: 40px;
  }
}
