@import "../../../../../styles/variables.scss";

.section-details {
  .chatbox-container {
    display: flex;
    flex-direction: column;

    height: 100%;
    overflow-y: scroll;

    &::after {
      content: "";
      display: block;
      margin-bottom: auto;
    }

    .msg-wrapper {
      display: flex;
      column-gap: 5px;
      width: 85%;
      margin-bottom: 15px;

      .icon-wrapper {
        display: block;
        height: fit-content;
        border-radius: 50%;
        background-color: $secondary_bg_gray;

        img.bot-icon {
          width: 40px;
          height: 40px;
          object-fit: contain;
        }
      }

      .msg-container {
        padding: 10px;
        border-radius: 10px;

        p.msg {
          font-size: 15px;
          line-height: 18px;
        }
      }

      &.bot {
        flex-direction: row;
        margin-right: auto;

        .icon-wrapper {
          display: inline-flex;
          justify-content: center;
        }

        .msg-container {
          background-color: $secondary_bg_gray;
          text-align: left;

          p.msg {
            color: $primary_text_grat;
          }
        }
      }

      &.user {
        flex-direction: row-reverse;
        margin-left: auto;
        padding-right: 10px;

        .icon-wrapper {
          &.achievement {
            align-self: center;

            img.badge-icon {
              width: 20px;
              height: 20px;
            }
          }

          img.user-icon {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }

        .msg-container {
          background-color: $secondary_bg_gray;
          text-align: right;

          p.user-name {
            font-size: 13px;
            color: $secondary_gray;
          }

          p.msg {
            color: $primary_text_black;
          }
        }
      }

      &.awaiting {
        .msg-container {
          background-color: $primary_bg_orange;
        }
      }
    }
  }
}
