@import "../../variables.scss";
$secondaryBlack: #555555;


header {
  font-family: "Roboto";

  .header-wrapper {
    .brand-logo {
      width: $width_brand;
      height: $height_brand;
    }

    .page-header-right {
      gap: 5px;

      .notification-wrapper {
        img {
          width: $height_notifiction_icon;
          height: $height_notifiction_icon;
        }

        span.badge {
          padding: 1px 3px;
          border: 2px solid $badge_border;
          top: -2px;
          left: 15px;
        }
      }

      .profile-image {
        width: $height_profile_image_icon;
        height: $height_profile_image_icon;
      }

      .profile-wrapper {
        font-size: 14px;
        font-weight: 400;
        color: $secondaryBlack;
      }
    }
  }

  .dropdown {
    .dropdown-toggle {
      gap: 5px;

      &::after {
        height: $height_profile_dropdown_icon;
        width: 10px;
        border: none;
        content: "";
        background: url("../../../public/images/down_arrow.png") no-repeat;
        background-size: contain;
      }
    }
  }
}