@import "./../../../styles/variables.scss";

.section-company-details {
  padding: 0 16px 30px 16px;

  .subtitle {
    color: $color_grey3_font;
  }

  .company-detail-form {
    padding-top: 20px;

    .custom-form-block {
      margin-bottom: 10px;
    }
  }

  .company-form-container {
    background: $color_grey2_bg;
    border-radius: 10px;
    padding: 20px;

    .left-container,
    .right-container {
      flex: 0 0 auto;
      width: 50%;
    }

    .left-container {
      border-right: 1px solid $color_line;
      padding-right: 20px;
    }

    .right-container {
      padding-left: 20px;

      .c-radio-groups {
        justify-content: space-between;
      }

      .c-checkbox-groups {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }

  .action-wrapper {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}