$secondary_gray: #999999;
$primary_black: #555555;

$secondary_bg_gray: #F4F4F4;
$primary_bg_gray: #5D5D5D;

$primary_text_grat: #777777;
$secondary_text_gray: #5D5D5D;
$primary_text_black: #000000;
$secondary_text_black: #EDEDED;
$secondary_text_white: #CCCCCC;
$primary_text_white: #FFFFFF;
