// ///////////////////////////////////////////////
// WIDTH and HEIGHT Variables
// //////////////////////////////////////////////
$height_header: 141px;
$width_brand: 210px;
$height_brand: 30px;
$height_notifiction_icon: 25px;
$height_profile_image_icon: 30px;
$height_profile_dropdown_icon: 5px;
$height_info_icon: 16px;
$height_stepper_label: 32px;

$height_incident_tab: 60px;
$height_legend_box: 20px;
$width_legend_box: 20px;
$width_button_icon: 15px;
$height_icon: 20px;
$width_icon: 20px;
$width_table_icon: 16px;
$height_table_icon: 16px;

$height_table: 400px;


// ///////////////////////////////////////////////
// COLOR Variables
// //////////////////////////////////////////////
$secondary_gray: #999999;
$primary_black: #555555;

$secondary_bg_gray: #F4F4F4;
$primary_bg_gray: #5D5D5D;

$primary_text_grat: #777777;
$secondary_text_gray: #5D5D5D;
$primary_text_black: #000000;
$secondary_text_black: #EDEDED;
$secondary_text_white: #CCCCCC;
$primary_text_white: #FFFFFF;

$primary_bg_orange: #FFD18B;
$badge_border: #EEF0F4;

// ///////////////////////////////////////////////
// COLOR Variables - updated
// //////////////////////////////////////////////
$color_black: #000;
$color_grey1_bg: #1D1D1D;
$color_grey2_bg: #292929;
$color_grey2_logo: #808080;
$color_grey3_font: #ACACAC;
$color_line: rgba(128, 128, 128, 0.3);
$color_white: #FFFFFF;
$color_theme: #F6AB36;
$color_purple1: #3E214D;
$color_purple2: #9451B5;
$colr_blue: #3598DB;
$color_green: #27AE61;
$color_red_dark_bg: #371C1C;
$color_red: #FF3E3E;
$color_orange: #FF6B1A;
$color_yellow: #F7CA17;

// ///////////////////////////////////////////////
// Effect Variables
// //////////////////////////////////////////////
@mixin effect_block_shadow() {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
}