@import "./variables.scss";

.App {
  background: $color_white;
  min-height: 100vh;

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-incident,
  .section-options {
    height: 100%;
    max-height: calc(100vh - $height_header);
    @include effect_block_shadow();
    background: $color_grey2_bg;
    border-radius: 20px;
    padding: 20px;
  }

  .section-summary,
  .section-details {
    height: 100%;
  }

  .title {
    font-weight: 700;
    color: $secondary_gray;
  }

  .section-dashboard,
  .phase-report-container {
    .summary-time-data {
      .regular-bar {
        .custom-progressbar {
          background: $color_grey1_bg;
        }
      }
    }
    .regular-bar {
      .custom-progressbar {
        height: 12px;
      }
    }
    
    .thin-bar {
      .custom-progressbar {
        height: 8px;
      }
    }
  }

  .section-game-scenario {
    .detail-form-wrapper {
      padding: 15px;
    }
  }

  hr.seperator {
    color: $color_line;
  }

  h1.title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  h4.title {
    font-size: 16px;
    margin-bottom: 18px;
  }

  p {
    margin-bottom: 0;
  }

  .theme-text {
    color: $secondary_gray;
  }

  .overflow-scrollbar {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $color_grey2_logo;
      border-radius: 10px;

      &:hover {
        background: $color_grey2_logo;
      }
    }
  }

  .user-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    flex-grow: 1;
    padding: 5px;
    border-radius: 10px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    
    .user-name {
      font-size: 13px;
    }
    
    .achievement-name {
      font-size: 15px;
    }

    .user-details {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  .c-font-10 {
    font-size: 10px;
  }

  .c-font-12 {
    font-size: 12px;
  }

  .c-font-14 {
    font-size: 14px;
  }

  .c-font-16 {
    font-size: 16px;
  }

  .c-font-18 {
    font-size: 18px;
  }

  .c-font-20 {
    font-size: 20px;
  }

  h1.page-title {
    font-size: 20px;
    font-weight: 700;
  }

  .theme-text {
    font-size: 15px;
    font-weight: 400;
  }

  .info-text {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;

    .info-icon {
      width: $height_info_icon;
      height: $height_info_icon;
    }
  }

  .custom-form-block {
    .input-group {
      &.date-field {
        position: relative;
  
        .hide-input {
          width: 0;
          padding: 0;
          margin: 0;
          border: none;
        }

        .input-field-icon {
          position: absolute;
          right: 10px;
          top: 6px;
          z-index: 5;
          display: inline-block;
          width: 20px;
          height: 20px;
        }
      }

      .form-select {
        &.is-invalid {
          padding-right: 2.25rem;
          background-image: none;
        }
      }
    }

    .c-radio-groups {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    .c-checkbox-groups {
      gap: 10px;
    }
  }

  .recommend-text {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding-top: 10px;
    font-size: 12px;
  }

  .btn {
    img {
      width: $width_button_icon;
      height: auto;
      margin-right: 5px;
    }
  }

  .time-wrapper {
    font-size: auto;

    span {
      display: contents;

      &[data-state="active"i] {
        color: $color_white;
      }

      &[data-state="mute"i] {
        color: $color_grey2_logo;
      }
    }
  }

  input[type="search" i]::-webkit-search-cancel-button{
    display: none;  
  }

  .warn-modal,
  .phase-modal {
    position: relative;

    .modal-title {
      font-size: 20px;
      padding-bottom: 15px;
    }

    .modal-subtitle {
      font-size: 16px;
      padding-bottom: 15px;
    }

    .modal-action-wrapper {
      margin-top: 15px;
      display: flex;
      justify-content: flex-end;
      column-gap: 10px;
    }
  
    .close-btn {
      position: absolute;
      top: 10px;
      right: 20px;
      z-index: 1;
    }
  }

  &.theme-dark {
    background: $color_black;
    @import "./themes/theme-dark.scss";
  }
}

@media print {
  // .App.theme-dark {
  //   // filter: invert(100%) hue-rotate(180deg) brightness(120%) contrast(150%);
  // }
}