@import "./variables.scss";

.App {
  background-color: $color_grey1_bg;
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-incident,
  .section-options {
    height: 100%;
    max-height: calc(100vh - $height_header);
    @include effect_block_shadow();
    background: $color_grey2_bg;
    border-radius: 20px;
    padding: 20px;
  }

  .section-summary,
  .section-details {
    height: 100%;
  }

  .title {
    font-weight: 700;
    color: $secondary_gray;
  }

  h1.title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  h4.title {
    font-size: 16px;
    margin-bottom: 18px;
  }

  p {
    margin-bottom: 0;
  }

  .overflow-scrollbar {
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $color_grey2_logo;
      border-radius: 10px;

      &:hover {
        background: $color_grey2_logo;
      }
    }
  }
}