@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./styles/global.scss";
@import "./styles/app_modal.scss";

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Droid Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;

  .modal-backdrop {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2.5px);

    &.show {
      opacity: 0.75;
    }
  }

  .modal {
    @include app_modal();
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color_grey2_logo;
    border-radius: 10px;

    &:hover {
      background: $color_grey2_logo;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// theme

body {
  background-color: #f5f5f5;
}

// Print Styles
@media print {
  body {
    background-color: #f5f5f5;

    .no-print {
      display: none;
    }
  }

  header {
    .notification-wrapper {
      display: none;
    }
  }
}
